page-table-data-add {
   /*  .row {
        border: solid 1px grey;
        border-bottom: solid 1px grey;
        border-right: solid 1px grey;
        border-left: solid 1px grey;
        
    }
 */
}
